<?xml version="1.0" encoding="utf-8"?>
<!--
     Este arquivo de configuração é necessário ao executar um aplicativo Node.js no Azure Web App usando o IIS.
     Ele redireciona as solicitações para o servidor Node.js através do módulo iisnode. Blabla
-->
<configuration>
  <system.webServer>
    <!-- Indica que o diretório tem uma aplicação web Node.js -->
    <handlers>
      <add name="iisnode" path="src/server.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- Regras de reescrita para direcionar todas as solicitações para o server.js -->
    <rewrite>
      <rules>
        <!-- Não interfira com as solicitações para o depurador -->
        <rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">
          <match url="^src/server.js\/debug[\/]?" />
        </rule>

        <!-- Primeiro, considere se a URL solicitada mapeia para um arquivo físico no diretório raiz da web -->
        <rule name="StaticContent" stopProcessing="true">
          <action type="Rewrite" url="public{REQUEST_URI}" logRewrittenUrl="true" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
        </rule>

        <!-- Todas as outras URLs são mapeadas para o ponto de entrada do aplicativo Node.js -->
        <rule name="DynamicContent">
          <match url="/*" />
          <action type="Rewrite" url="src/server.js" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
        </rule>
      </rules>
    </rewrite>

    <!-- Configurações do módulo iisnode -->
    <iisnode 
      watchedFiles="web.config;*.js;*.json"
      nodeProcessCommandLine="node"
      loggingEnabled="true"
      logDirectory="iisnode"
      debuggingEnabled="false"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      asyncCompletionThreadCount="0"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536" />

    <!-- Certifique-se de que o arquivo server.js não seja acessível diretamente via navegador -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="node_modules" />
          <add segment="iisnode" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <!-- Defina comportamento de erros personalizados para erros HTTP -->
    <httpErrors existingResponse="PassThrough" />
    
    <!-- Habilitar diretório de navegação para debugging -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>